@font-face {
    font-family: "Allura_Regular";
    src: url(../../assets/fonts/Allura-Regular.ttf);
}

@font-face {
    font-family: "Poppins_Medium";
    src: url(../../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Roboto_Light";
    src: url(../../assets/fonts/Roboto-Light.ttf);
}

// ============= variable color==============
$font1: Allura_Regular, sans-serif;
$font2: Poppins_Medium, sans-serif;
$font3: Roboto_Light, sans-serif;

@mixin title {
    font-family: $font2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin title1 {
    font-family: $font1;
    letter-spacing: 2px;
}

$color1: rgba(231, 179, 65, 0.24);
$color2: rgba(245, 170, 8, 0.685);
$color3: rgba(243, 134, 46, 0.767);
$color4: gray;
$white: white;
$white1: rgba(247, 244, 244, 0.966);
$black: black;
$black1: rgba(0, 0, 0, 0.76);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $black1;
    color: $white;
    font-family: $font3;
}

li {
    list-style: none;
}

p {
    line-height: 25px;
    font-size: 1.08rem;
}