@font-face {
  font-family: "Allura_Regular";
  src: url(../../assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins_Medium";
  src: url(../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto_Light";
  src: url(../../assets/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.76);
  color: white;
  font-family: Roboto_Light, sans-serif;
}

li {
  list-style: none;
}

p {
  line-height: 25px;
  font-size: 1.08rem;
}

header {
  background: url(../../../assets/img/bg-slider-06.jpg) center/cover;
  height: 100vh;
}
header nav {
  height: 10%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-content: center;
}
header nav h4 {
  font-family: Allura_Regular, sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 20px 0;
}
header nav .nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Roboto_Light, sans-serif;
}
header nav .nav-left li {
  padding: 30px 10px;
}
header nav .nav-left li:nth-child(2), header nav .nav-left li:nth-child(7) {
  text-align: center;
}
header nav .nav-left li:hover {
  cursor: pointer;
  color: black;
  background: white;
}
header nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav .nav-right li:hover {
  cursor: pointer;
  color: blue;
}
header h3 {
  font-family: Allura_Regular, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  padding: 125px 0 0;
  color: rgba(155, 118, 40, 0.685);
  position: relative;
  top: 40px;
  left: 0px;
}
header h1 {
  font-family: Poppins_Medium, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0;
  font-weight: 10;
}
header img {
  position: relative;
  left: 48%;
  padding: 20px;
}
header p {
  text-align: center;
  padding: 0px;
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  letter-spacing: 5px;
  font-weight: 10;
}

main .section-1 {
  height: 450px;
  max-height: 450px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  margin: 0px 0 40px;
  background: rgba(247, 244, 244, 0.966);
}
main .section-1 .section-1-left {
  padding: 10px;
  height: 100%;
}
main .section-1 .section-1-left .section-1-left-container {
  height: 100%;
  border: 2px dotted rgba(155, 118, 40, 0.685);
  color: black;
  text-align: center;
}
main .section-1 .section-1-left .section-1-left-container .disco-mini {
  padding-top: 30px;
  color: rgba(155, 118, 40, 0.685);
  font-family: Allura_Regular, sans-serif;
  font-size: 2rem;
}
main .section-1 .section-1-left .section-1-left-container .our-store-mini {
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px;
  bottom: 30px;
  position: relative;
}
main .section-1 .section-1-left .section-1-left-container div {
  bottom: 30px;
  position: relative;
}
main .section-1 .section-1-left .section-1-left-container div p {
  margin: 10px 0;
  padding: 0 15px;
  font-size: 1.1rem;
  padding: 10px 0 20px;
}
main .section-1 .section-1-left .section-1-left-container div #imgplate {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 150px;
  background: white;
}
main .section-1 .section-1-left .section-1-left-container div h4 {
  font-size: 0.9rem;
  padding-top: 10px;
}
main .section-1 .section-1-left .section-1-left-container div h5 {
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  font-size: 0.6rem;
}
main .section-1 .section-1-right {
  height: 100%;
}
main .section-1 .section-1-right img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: space-around;
}
main .section-2 {
  margin: 22% 0 0;
  background: url(../../../assets/img/bg-menu-01.jpg) center/cover;
  height: 80vh;
}
main .section-2 .section-2-container {
  height: 130%;
  width: 50%;
  display: grid;
  grid-template-rows: 20% 80%;
  position: relative;
  bottom: 50%;
  margin: 0 auto;
}
main .section-2 .section-2-container .section-2-container-up {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
main .section-2 .section-2-container .section-2-container-up h3 {
  font-family: Allura_Regular, sans-serif;
  letter-spacing: 2px;
  color: rgba(243, 134, 46, 0.767);
  font-size: 2rem;
}
main .section-2 .section-2-container .section-2-container-up img {
  padding: 30px 0 10px;
}
main .section-2 .section-2-container .section-2-container-up .mini-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
main .section-2 .section-2-container .section-2-container-up .mini-menu li {
  position: relative;
}
main .section-2 .section-2-container .section-2-container-up .mini-menu li::after {
  content: "";
  height: 1px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: -6px;
  left: 0px;
}
main .section-2 .section-2-container .section-2-container-down {
  border-top: 3px solid rgba(243, 134, 46, 0.767);
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  color: black;
}
main .section-2 .section-2-container .section-2-container-down .item {
  margin: 15px;
  display: grid;
  grid-template-columns: 30% 55% 15%;
  align-items: center;
  border-bottom: 1px dotted rgb(201, 200, 200);
}
main .section-2 .section-2-container .section-2-container-down .item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 90px;
  width: 90px;
  border-radius: 150px;
}
main .section-2 .section-2-container .section-2-container-down .item h4,
main .section-2 .section-2-container .section-2-container-down .item p {
  font-size: 0.7rem;
}
main .section-2 .section-2-container .section-2-container-down .item span {
  color: rgba(155, 118, 40, 0.685);
  font-weight: bold;
}
main .section-3 {
  width: 70%;
  height: 60vh;
  background: white;
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: 30% 70%;
  color: black;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
main .section-3 .section-3-left {
  background: black;
  height: 60vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-3 .section-3-left .section-3-left-container {
  border: 1px dotted white;
  width: 90%;
  height: 57vh;
  margin: 10px;
  text-align: center;
  padding: 20px 0;
}
main .section-3 .section-3-left .section-3-left-container h4 {
  font-family: Allura_Regular, sans-serif;
  color: rgba(155, 118, 40, 0.685);
  font-size: 3rem;
}
main .section-3 .section-3-left .section-3-left-container h2 {
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 15px;
  position: relative;
}
main .section-3 .section-3-left .section-3-left-container h3 {
  color: rgba(155, 118, 40, 0.685);
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 0 10px;
  font-size: 1.1rem;
}
main .section-3 .section-3-left .section-3-left-container h5 {
  font-size: 0.7rem;
  letter-spacing: 2px;
}
main .section-3 .section-3-left .section-3-left-container .lunch {
  margin-bottom: 30px;
}
main .section-3 .section-3-left .section-3-left-container p {
  font-size: 1.2rem;
  color: rgba(155, 118, 40, 0.685);
  font-weight: 700;
  padding-top: 5px;
}
main .section-3 .section-3-right {
  height: 60vh;
  width: 100%;
  background: rgba(247, 244, 244, 0.966);
}
main .section-3 .section-3-right .section-3-right-container {
  width: 90%;
  margin: 30px auto 0;
  text-align: center;
}
main .section-3 .section-3-right .section-3-right-container h3 {
  font-family: Allura_Regular, sans-serif;
  color: rgba(155, 118, 40, 0.685);
  font-size: 3rem;
}
main .section-3 .section-3-right .section-3-right-container h2 {
  font-family: Allura_Regular, sans-serif;
  color: black;
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  position: relative;
  bottom: 15px;
}
main .section-3 .section-3-right .section-3-right-container img {
  padding: 15px 0;
}
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping {
  width: 80%;
  height: 50%;
  margin: 0 auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1FR);
  grid-template-rows: repeat(2, 1FR);
}
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping select,
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping input {
  height: 45px;
  border: hidden;
  background: transparent;
  border-bottom: 1px solid rgb(180, 179, 179);
  color: gray;
  font-family: Poppins_Medium, sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
}
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping select:focus,
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping input:focus {
  border: 1px solid skyblue;
}
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping select:focus,
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping input:focus {
  border: 1px solid skyblue;
}
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping select,
main .section-3 .section-3-right .section-3-right-container .section-3-right-container-taping input[type=date] {
  color: black;
}
main .section-3 .section-3-right .section-3-right-container .button {
  border: 1px solid rgb(180, 179, 179);
  border-radius: 45px;
  font-family: Poppins_Medium, sans-serif;
  height: 70px;
  width: 250px;
  margin-bottom: 10px;
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  letter-spacing: 3px;
  background: black;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.5s;
}
main .section-3 .section-3-right .section-3-right-container .button:hover {
  background: rgba(247, 244, 244, 0.966);
  color: black;
}
main .section-4 {
  width: 70%;
  height: 80vh;
  margin: 60px auto;
  text-align: center;
}
main .section-4 .Poligone {
  width: 90px;
  height: 90px;
  background: black;
  position: relative;
  top: 25%;
  left: 38%;
  text-align: center;
}
main .section-4 .Poligone h3 {
  padding-top: 20px;
}
main .section-4 .Poligone h4 {
  font-size: 0.9rem;
}
main .section-4 h5 {
  margin: 15px;
  padding: 20px 0;
  font-size: 1.1rem;
  color: gray;
}
main .section-4 h6 {
  margin: 15px;
  padding: 20px 0;
  font-size: 0.8rem;
  color: gray;
}
main .section-4 span {
  color: gray;
  font-size: 0.9rem;
}
main .section-4 .section-4-up {
  width: 100%;
}
main .section-4 .section-4-up h4 {
  font-family: Allura_Regular, sans-serif;
  letter-spacing: 2px;
  color: rgba(155, 118, 40, 0.685);
  font-size: 2rem;
  position: relative;
  top: 10px;
  left: 0px;
}
main .section-4 .section-4-up h3 {
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
main .section-4 .section-4-down {
  display: grid;
  grid-template-columns: 62% 37%;
  justify-content: start;
  justify-items: start;
  align-items: center;
  text-align: start;
  gap: 10px;
}
main .section-4 .section-4-down img {
  width: 100%;
}
main .section-4 .section-4-down .section-4-down-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down {
  display: grid;
  grid-template-columns: 40% 60%;
}
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up .section-4-down-left-up_containter-rigth,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up .section-4-down-left-down_containter-rigth,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down .section-4-down-left-up_containter-rigth,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down .section-4-down-left-down_containter-rigth {
  background: rgba(247, 244, 244, 0.966);
  color: black;
}
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up .section-4-down-left-up_containter-rigth span,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up .section-4-down-left-down_containter-rigth span,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down .section-4-down-left-up_containter-rigth span,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down .section-4-down-left-down_containter-rigth span {
  margin: 15px;
}
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up .section-4-down-left-up_containter-left,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down .section-4-down-left-up_containter-left {
  background: url(../../../assets/img/event-01.jpg) center/cover;
}
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-up .section-4-down-left-down_containter-left,
main .section-4 .section-4-down .section-4-down-left .section-4-down-left-down .section-4-down-left-down_containter-left {
  background: url(../../../assets/img/event-02.jpg) center/cover;
}
main .section-4 .section-4-down .section-4-down-rigth {
  width: 100%;
  height: 100%;
  background: url(../../../assets/img/event-03.jpg) center/cover;
}
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container {
  background: rgba(247, 244, 244, 0.966);
  height: 90%;
  width: 90%;
  margin: 25px auto;
  color: black;
}
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container h5,
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container h6 {
  text-align: center;
}
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container .resto {
  margin-left: 35px;
}
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container .hour {
  margin-left: 25px;
}
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container h6 {
  margin-top: 40px;
}
main .section-4 .section-4-down .section-4-down-rigth .section-4-down-rigth-container .Poligone {
  color: white;
  top: 0;
  margin-bottom: 50px;
}
main .section-5 {
  margin: 12% 0 0;
  background: url(../../../assets/img/gmap.jpg) center/cover;
  height: 50vh;
}
main .section-5 .section-5-container {
  background: rgba(247, 244, 244, 0.966);
  width: 70%;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  top: -43%;
  color: black;
  text-align: center;
}
main .section-5 .section-5-container .poho-chef {
  width: 70px;
  height: 70px;
  border-radius: 300px;
  background: url(../../../assets/img/avatar-02.jpg) center/cover;
  position: relative;
  top: -10%;
  left: 47%;
}
main .section-5 .section-5-container p {
  margin: 0 50px;
  padding: 10px 0 30px;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
main .section-5 .section-5-container h5 {
  font-size: 1.8em;
  font-weight: 500;
}
main .section-5 .section-5-container h6 {
  font-size: 1.2em;
  padding-top: 20px;
  color: rgba(155, 118, 40, 0.685);
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 200px;
}
footer .footer-left {
  background: rgba(0, 0, 0, 0.76);
  padding: 30px 30px 30px 170px;
}
footer .footer-left h4 {
  font-family: Allura_Regular, sans-serif;
  letter-spacing: 2px;
  color: rgba(155, 118, 40, 0.685);
  font-size: 2rem;
  padding-bottom: 15px;
}
footer .footer-left p {
  line-height: 2rem;
  letter-spacing: 0.5px;
}
footer .footer-rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}
footer .footer-rigth form {
  display: flex;
  flex-direction: column;
}
footer .footer-rigth form label {
  text-transform: uppercase;
  font-family: Poppins_Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 5px;
  font-size: 0.8rem;
}
footer .footer-rigth form input {
  background: transparent;
  width: 180px;
  height: 30px;
  margin-bottom: 20px;
  color: rgba(247, 244, 244, 0.966);
  background: transparent;
  border: 1px solid gray;
}
footer .footer-rigth form input::-moz-placeholder {
  padding-left: 10px;
}
footer .footer-rigth form input::placeholder {
  padding-left: 10px;
}
footer .footer-rigth .Follow {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
footer .footer-rigth .Follow ul {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=index.css.map */